# copiare in env.properties (che non va committato) e mettere i valori veri
DB_URL=jdbc:postgresql://localhost:5432/travel_db
DB_USERNAME=postgres
DB_PASSWORD=changeme
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=
